@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: white;
    height: 100%;
}

ul {
    list-style-type: none;
}

.header {
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: #0984e3;
    box-shadow: 0px 1px 5px 2px rgba(94, 50, 50, 0.3);
    z-index: 200;
}

.logo-text {
    display: inline-block;
    /* border: 2px solid black; */
    height: 100%;
    margin-left: 18px;
}

.logo-img {
    height: 45%;
    margin-top: 15px;
    /* margin-bottom: 5px; */
}

.logo-paragraph {
    font-size: 0.7rem;
    margin-left: 10px;
    /* margin-left: -47px; */
}


.name-and-avatar {
    /* border: 2px solid black; */
    display: table;
    position: fixed;
    right: 3%;
    top: 7px;
    width: fit-content;
    top: 0;
    height: 90px;
}

.login-name {
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2rem;
    height: 100%;
    font-weight: 500;
}

.avatar {
    margin-left: 20px;
    align-content: center;
    transform: translateY(30%);
}

.navigation {
    position: fixed;
    top: 90px;
    height: 100%;
    width: 300px;
    box-shadow: -1px 0px 82px -32px rgba(0, 0, 0, 0.41);

    /* border: 2px solid black; */
}

.nav-ul {
    border-right: 1px solid rgba(238, 238, 238, 0.9);
    height: 100%;
    overflow: auto;

}

.nav-li {
    display: block;
    padding: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    /* box-shadow: 1px 6px 30px -30px rgba(0,0,0,0.75); */
}

.nav-li:hover {
    background-color: rgba(238, 238, 238, 0.4)


}


.main-content {
    position: absolute;
    /* border: 1px solid black; */
    left: 300px;
    width: calc(100vw - 320px);
    top: 90px;
    overflow: hidden;
}

.content {
    /* border: 1px solid red; */
    margin: 0px 10%;
}

.title-hr {
    margin-top: 5px;
    border-bottom: 2px solid black;
    margin-bottom: 40px;
    height: 1px;
}

.title {
    font-family: "Montserrat", sans-serif;
    margin-top: 50px;
    position: relative;
}

.title h1 {
    display: inline-block;
}

.sub-title {
    font-family: "Montserrat", sans-serif;
    font-size: 0.6rem;
    max-width: 680px;
    min-width: 384px;
    margin: 0 auto;
    position: relative;
}

.sub-title h1 {
    display: inline-block;
}

.post-status-bar {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    /* margin: 0 15%; */
    margin-bottom: 40px;

    max-width: 680px;
    min-width: 384px;

    height: fit-content;
    background-color: #d7d7d7;
    outline: none;
}

.comment-status-bar {
    margin: 0 auto;
    padding-top: 5px;
    /*padding-bottom: 20px;*/
    position: relative;
    /* margin: 0 15%; */
    margin-bottom: 40px;

    max-width: 680px;
    min-width: 384px;

    height: fit-content;
    background-color: #d7d7d7;
    outline: none;
}

/* 
.post-status-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 15%;
  margin-bottom: 40px;

  height: fit-content;
  background-color:#d7d7d7;
}
 */

/* .post-status-bar:nth-child(3) {
  margin-top: 50px;
} */

.post-avatar {
    float: left;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    transform: translateY(16%);
}
.comment-avatar {
    float: left;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    left: 5px;
    top: 5px;
    /*transform: translateY(16%);*/
}

.input-bar {
    display: block;
    /* width: 88%; */
    background-color: white;
    margin-left: 60px;
    margin-right: 15px;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    resize: vertical;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}

.two-line-text {
    display: inline;
}

.two-line-text-header {
    display: inline-block;
    font-size: 1rem;
}

.two-line-text-text {
    display: block;
    font-size: 0.8rem;
}

.publish-time {
    display: inline-block;
    float: right;
    margin-right: 25px;
    font-size: 0.8rem;
    /*z-index: 1;*/
}

.status-content {
    margin: 15px 15px;
    padding: 10px 10px;
    margin-bottom: 0;

    border-radius: 10px;
    background-color: white;
    word-wrap: break-word;
}

.like-comment-panel {

}

.like-button:hover {
    color: #0984e3;
}

.comment-button:hover {
    color: #0984e3;
}

.like-comment-button {
    width: 49.6%;
    border: none;
    background-color: white;
    text-align: center;
    padding: 5px 0;
    padding-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    outline: none;
    cursor: pointer;
}

.like-comment-vr {
    display: inline-block;
    height: 10px;
    border-left: 1px solid #d7d7d7;
}

.like-comment-hr {
    margin-top: 15px;
    /* border: 1px solid grey; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d7d7d7;
}

.comment-bar {
    position: relative;
    top: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin: 0 7%;
    margin-bottom: 0px;
    min-width: 330px;
}

.comment-input {
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0 7%;
    margin-bottom: 0px;
    margin-top: 0;
    min-width: 330px;
}

.input-bar-comment {
}

.post-emojis {
    padding-top: 5px;
    position: relative;
}

.comment-li {
    /*border: 1px solid white;*/
}

.panel {
    display: inline-block;
    border-radius: 10px;
    /*background-color: violet;*/
    width: calc(50% - 22.5px);
    position: relative;
    margin-left: 15px;
    /*display: flex;*/
    /*max-width: 48%;*/
}

/*PANEL QUERY
/*.panel {*/
/*    display: block;*/
/*    border-radius: 10px;*/
/*    !* background-color: violet; *!*/
/*width: calc(50% - 22.5px);*/
/*position: relative;*/
/*margin-left: 15px;*/
/*!* display: flex; *!*/
/*!* max-width: 48%; *!*/
/*min-width: 315px;*/
/*}*/

/*POST STATUS BAR QUERY*/
/*post-status-bar {*/
/*    margin: 0 auto;*/
/*    padding-top: 20px;*/
/*    padding-bottom: 20px;*/
/*    position: relative;*/
/*    !* margin: 0 15%; *!*/
/*    margin-bottom: 40px;*/
/*    max-width: 680px;*/
/*    min-width: 345px;*/
/*    width: min-content;*/
/*    height: fit-content;*/
/*    background-color: #d7d7d7;*/
/*    outline: none;*/
/*}*/

.panel-content {
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    overflow: hidden;
    /*max-height: 260px;
    min-height: 90px;*/
    height: 260px;
}

.panel-content-li {
    display: block;
   padding: 2.5px 0;
}

.panel-content:hover {
    overflow-y: scroll;
    overflow-y: overlay;
}

.panel-header {
    margin-left: 10px;
    font-size: 1rem;
    padding-bottom: 5px;
}

.panel-content-name {
    margin-left: 5px;
    font-size: 1rem;
    /*max-width: 180px;*/
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
}


#style-1::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/

    /*background-color: white;*/

    border-radius: 10px;


}

#style-1::-webkit-scrollbar {
    width: 13px;
    height: 20px;


}

#style-1::-webkit-scrollbar-thumb {


    background-color: rgba(0, 0, 0, 0.07);

    border-top: 8px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    /*border-left: 2px solid rgba(0, 0, 0, 0);*/
    background-clip: padding-box;
    /*border-radius: 10px;*/


    /*-webkit-border-radius: 10px;*/
}

.shift-content {
    position: relative;
    border-radius: 10px;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    /*height: 650px;*/
    overflow: hidden;
    min-height: 170px;
}

.scheduler-content {
    padding: 15px;
}


/*.shift-content-table > :not(.time-pointer) {
  overflow: visible;
}*/


.shift-content-table {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    /*overflow: hidden;*/
}

.shift-content-div {
    text-align: center;
    display: inline-block;
    /*width: 65px;*/
    width: 10%;
    padding: 10px 0;
    /*border: 1px solid black;*/
    border-bottom: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    user-select: none;

}

.shift-content-div:last-child {
    border-right: none;
}

.shift-element {
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    background-color: #0984e3;
    height: 35px;
    padding: 5px 0;
    width: 40%;
    white-space: nowrap;

    /*width: fit-content;*/
    /*left: 10%;*/
    border-radius: 10px;

}

.shift-element-end-tile {
    background: linear-gradient(90deg,rgba(9, 132, 226, 0.1), rgba(7, 110, 186, 1));
    /*background: radial-gradient(to right, rgba(9, 132, 226, 0.2), rgba(9, 132, 226, 1));*/
    width: 77px;
    height: 100%;
    position: absolute;
    right: 0px;
    display: inline-block;
    /*z-index: 31;*/
    top: 0;
}

.avatar-circle {
    height: 25px;
    width: 25px;
    font-size: 0.6rem;
}

.shift-element-header {
    position: relative;
    /*border: 1px solid black;*/
    font-size: 0.8rem;
    display: inline-block;
    margin-left: 5px;
    white-space: nowrap;
    padding-right: 5px;
    /*transform: translateY(-3px);*/
    user-select: none;

}

.arrow {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 20;
    color: #d7d7d7;
    display: inline-block;
    user-select: none;
    //max-width: 70px;


    /*background-color: rgba(0,0,0,0.5);*/
}

.arrow:hover {
    /*border: 1px solid #d7d7d7;*/
    /*border-radius: 10px;*/
    cursor: pointer;
    color: black;
    /*background-color: rgba(0,0,0,0.02);*/
}

.arrow-icon:hover {
    transform: scale(1.15);
}

.back-arrow {
    left: -70px;
}

.next-arrow {
    right: -70px;
}

.slide:hover {
    border-radius: 10px;
    cursor: pointer;
    color: black;
    transform: scale(1.15);
}

.slide {
    position: absolute;
    top: calc(50% - 12px);
    z-index: 21;
    color: #d7d7d7;
    display: inline-block;
    user-select: none;
}

.back-slide {
    right: -78px;
}

.next-slide {
    left: -78px;
}

.time-pointer {
    position: absolute;
    /*background-color: black;*/
    border-left: 1px solid black;
    width: 0px;
    height: 100%;
    z-index: 19;
}

.title-filter {
    cursor: pointer;
    position: absolute;
    top: -2px;
    float: right;
    right: 0px;
    display: inline-block;
    margin-left: 15px;
    z-index: 20;
    background-color: transparent;
    font-size: 1rem;
    /*border: 1px solid black*/
}


.title-filter-list {
    position: relative;
    /*border: 1px solid black;*/
    background-color: white;
    text-align: center;
    min-width: 100px;
    max-width: 250px;
    overflow-wrap: break-word;
    /*z-index: 50;*/
    margin-top: 14px;
}

.title-filter-list-li {
    padding: 10px 5px;
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
}

.title-filter-list-li:nth-of-type(1) {
    border-top: 1px solid #d7d7d7;
}

.title-filter-list-li:hover {
    background-color: rgba(238, 238, 238, 0.4)
}

.panel-content li:hover {
    background-color: rgba(238, 238, 238, 0.4);
    cursor: pointer
}

.show-more-comments-panel {
    padding-top: 15px;
    text-align: center;
    user-select: none;
}

.show-more-comments-panel:hover {
    color: white;
    cursor: pointer;
}

.delete-button {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 0;
    user-select: none;
}

.delete-button:hover {
    transform: scale(1.30);
    font-weight: 900;
}

.delete-button-comment {
    position: absolute;
    cursor: pointer;
    right: -13px;
    top: 53px;
    user-select: none;
    padding: 5px 10px;
}

.delete-button-comment:hover {
    transform: scale(1.30);
    font-weight: 900;
}

.scheduler-content {
    overflow: visible;
    height: fit-content;
}


.scheduler-control-panel-line {
    display: block;
    margin-bottom: 5px;
    position: relative;
    /*width: 29%;*/
}

.scheduler-control-panel-header {
    font-size: 1rem;
    display: inline-block;
    /*padding: 5px;*/
    /*border-radius: 10px;*/
    /*background-color: #d7d7d7;*/
    /*background-color: #0984e3;*/


}

.scheduler-control-panel-time {
    display: inline-block;
    /*position: absolute;*/
    /*right: 15px;*/
    /*background-color: #d7d7d7;*/
    /*background-color: #0984e3;*/
    /*background-color: black;*/
    /*color: white;*/
    padding: 2px;

    margin-left: 15px;
    white-space: nowrap;
    border-radius: 10px;
    font-size: 1rem;
    /*width: 83%;*/
    top: 9px;
}

.scheduler-control-panel-arrow{
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
}

.scheduler-control-panel-arrow:hover{
    transform: scale(1.25);
}

.scheduler-control-panel-wrapper{
    display: inline-block;
    margin-left: 5px;
    position: absolute;
    right: 65%;
    /*left: 25px*/
    /*float: right;*/
    top: -2px;
    user-select: none;
}





.shift-scheduler-input-ul {
    position: absolute;
    width: 100%;
    margin-top: 10px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.shift-scheduler-input-li {
    padding: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
    overflow: hidden;
}

.shift-scheduler-input-li:nth-of-type(1) {
    border-top: 1px solid black;
}

.shift-scheduler-input-li:last-of-type {
    margin-bottom: 5px;
}

.shift-scheduler-input-li:hover {
    background-color: rgba(238, 238, 238, 0.4);
}

.shift-scheduler-textarea {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border: 1px solid black;
    outline: none;
    resize: vertical;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    right: 0;
    display: block;
}

.shift-scheduler-calendar {
    margin-top: 20px;
    /*background-color: #d7d7d7;*/
    background-color: rgba(238, 238, 238, 0.6);
    height: fit-content;
    border-radius: 10px;
}

.shift-scheduler-calendar-ul {
    /*max-height: 400px;*/
}

.shift-scheduler-calendar-li {
    position: relative;
    border-top: 2px solid white;
    border-right: 2px solid white;
    display: inline-block;
    /*height: ;*/
    width: 88.57px;
    height: 88.57px;
    cursor: pointer;
}

.shift-scheduler-calendar-li:hover {
    background-color: rgba(9, 132, 226, 0.5);
}

.shift-scheduler-calendar-li:nth-child(7n) {
    border-right: none;
}

.shift-scheduler-calendar-header {
    background-color: #0984e3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 15px;
}

/* ffc93c yellow */